
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Environment & secrets
.env
.env.credentials
localstorage/

# OS
.DS_Store

# claude
.claude/
